* {
    box-sizing: border-box;
    background-color: whitesmoke;
    
    border: 0px;
    padding: 0px
}

#root {
    font-family: 'Oswald', serif;
    font-size: 14px;
    text-align: center;
}

table {
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
  }

  tr {
    border: 0px;
    padding: 0px
  }

  td {
    width: 200px;
    text-align: left;
    font-family: 'Raleway', serif;
  }

  h1{
    text-align: center;
    text-transform: uppercase;
  }

  h2{
    text-transform: uppercase;
  }

  p {
    text-align: center;
  }