* {
    box-sizing: border-box;
    background-color: whitesmoke;
    border: 0px;
    padding: 0px
}

#root {
    font-family: 'Oswald', serif;
    font-size: 14px;
    text-align: center;
}

table {
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
  }

  tr {
    border: 0px;
    padding: 0px
  }

  th {
    width: 400px;
    text-transform: uppercase;
    font-size: x-large;
    font-weight: bolder;
    text-align: left;
  }

  td {
    width: 200px;
    text-align: left;
    font-family: 'Raleway', serif;
  }

  .smallCol {
    width: 100px;
  }

  .mediumCol {
    width: 200px;
  }

  .largeCol {
    width: 400px;
  }

  h1{
    text-align: center;
    text-transform: uppercase;
  }
  
  p {
    text-align: center;
  }